    <div class="chat-message">
      <div class="message-header">
        <div class="user-name"><%= message.user.name %></div> 
        <div class="date">2021/12/27(Mon) 12:14:30</div>
      </div>
      <div class="message-content"><%= message.content %></div>
    </div>
