    <div class="chat-message">
      <div class="message-header">
        <div class="user-name">
          <%= message.user.name %>
        </div> 
        <div class="date">
          <%= l message.created_at %>
        </div>
      </div>
      <div class="message-content">
        <%= message.content %>
      </div>
    </div>
