.wrapper {
  display: flex;
}

.side {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.room-create-btn a {
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 20px;
  overflow: scroll;
}

.room {
  padding-bottom: 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.main {
  width: calc(100vw - 300px);
  background-color: #ffffff;

}

.main-header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.main-header-left {
  padding: 36px 0;
}

.room-content {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.chat-close-btn {
  padding: 40px 0;
}

.chat-close-btn a {
  font-size: 12px;
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.chat-view {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll:
}

.message {
  margin-bottom: 40px;
}
.message-header {
  display: flex;
  padding: 10px 0;
}

.user-name{
  font-size: 16px;
  color: #434A54;
}

.date {
  font-size: 12px;
  color: #999;
  margin-left: 10px ;
}

.message-content {
  font-size: 14px;
  color: #434A54;
}

.main-footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.input-form {
  background-color: white;
  display: flex;
  width: 100%
}

.content-form {
  width: 100%;
  height: 50px; 
  border: none;
  padding-left: 10px;
}

.form-submit {
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  height: 50px;
  padding: 0 20px;
  border: none;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}


